/*@medias for screen sizes and devices*/
/*phone screens and above screen sizes*/
@media (max-width: 768px){

}

/*tablets//small and above screen sizes*/
@media (min-width: 768px) {

    .banner {
        max-height: 500px !important;
        margin-left: 50px !important;
    }

    .left-h1{
        margin-left: 30% !important;
    }

    .aboutH, .aboutH5 {
        text-align: end !important;
    }

    .aboutP, .aboutP5{
        text-align: start !important;
        padding-top: 55px !important;
    }

    .head-text {
        text-align: left !important;
    }
}

/*medium and above screen sizes*/
@media (min-width: 992px) {
    .nav-item {
        transition: color .3s ease-in-out, box-shadow 2s ease-in-out !important;
        margin-right: 5px !important;
    }

        .nav-item:hover {
            box-shadow: inset 100vw 0 0 0 #F15BB5 !important;
        }

    .navbar-nav .nav-item {
        padding: 0 0 !important;
    }

    
}

/*large and above screen sizes*/
@media (min-width: 1200px) {

}


/*general/global*/
body {
    margin: 0;
    font-family: 'Kanit', sans-serif; /*whole page to use same font*/
    background-color: #002729;
    overflow-y: scroll;
}


/*removing built-in bootstrap padding*/
.container-fluid, .row, .col-md-2, .col-1 {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

.anchor {
    display: block;
    height: 70px; /*same height as header*/
    margin-top: -70px; /*same height as header*/
    visibility: hidden;
}


/*nav bar*/
.nav-active {
    color: white;
    width: 100px;
    border-bottom: solid 3px #F15BB5;
}

.navbar-brand {
    transition: all .2s ease-in-out;
}

    .navbar-brand:hover {
        transform: scale(1.05);
    }

.nav-link{
    width: 100px;
}

.navbar-nav .nav-item {
    padding: 0 43%;
}

.nav-item {
    box-shadow: inset 0 0 0 0 #F15BB5;
    color: white;
    margin-right: 0px;
    text-align: center;
    transition: color .3s ease-in-out, box-shadow 1s ease-in-out;
}

    .nav-item:hover {
        box-shadow: inset 100vw 0 0 0 #F15BB5;
        color: white;
    }

.navbar-toggler{
    margin-top: -5px;
}

#navi-bar {
    transition: top 0.3s; /* Transition effect when sliding down (and up) */
}

/*footer*/
.footer {
    border-top: solid 3px #F15BB5;
    padding-top: 20px;
}

.footer a{
    color: darkgray;
    text-decoration: none;
}

.footer a:hover{
    color: white;
}

.update{
    color: gray;
    text-align: end;
    padding-right: 20px;
}


/*animations*/
@keyframes enter-right {
    from {
        right: -50vw;
        top: 0px;
        opacity: 0;
    }

    to {
        right: 0px;
        top: 0px;
        opacity: 1;
    }
}

@keyframes enter-left {
    from {
        left: -50vw;
        top: 0px;
        opacity: 0;
    }

    to {
        left: 0px;
        top: 0px;
        opacity: 1;
    }
}



/*banner*/
.banner {
    max-height: 330px;
    margin-left: 0px;
    position: relative;
    animation: enter-left 2.5s ease-out 0s 1 forwards;
}

.lineUp {
    animation: 4s anim-lineUp ease-out;
}

@keyframes anim-lineUp {
    0% {
        opacity: 0;
        transform: translateY(80%);
    }

    20% {
        opacity: 0;
    }

    50% {
        opacity: 1;
        transform: translateY(0%);
    }

    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

.appear {
    opacity: 1;
}

.left-h1 {
    opacity: 1;
    margin-left: 10%;
    width: 70%;
    transition: opacity 4.5s;
}

.head-text {
    text-align: center;
    position: relative;
    //animation: enter-right 2.5s ease-out 0s 1 forwards;
}

/*special class to hide the scroll bar on animation*/
.s-hide {
    overflow-x: hidden;
}


/*about and reveal on scroll*/
.active#about {
    position: relative;
    animation: enter-left 2.5s ease-out 0s 1 forwards;
}

.reveal {
    position: relative;
    opacity: 0;
}

    .reveal.active {
        opacity: 1;
    }

/*about on angle*/
.aboutH5, .aboutP5 {
    text-align: center;
    padding: 0 3rem;
    transform: skewY(-5deg);
}

/*page headings and texts*/
.aboutH, .aboutP {
    text-align: center;
    padding: 0 3rem;
    
}

.titles {
    height: inherit;
    min-height: 500px;
    position: relative;
    animation: enter-left 2.5s ease-out 0s 1 forwards;
}



/*carousel*/
.carousel-item {
    height: 50vw;
    max-height: 500px;
    min-height: 350px;
}

    .carousel-item img {
        height: 100%;
        min-height: 350px;
        max-height: 500px;
    }

.caro-icon{
    filter: invert(0%);
}

.carousel-caption h2 {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    border: solid white;
    border-radius: 3px;
    color: white;
    background-color: rgba(239, 239, 239, 0.3);
}
    .carousel-caption h2:hover {
        color: black;
        background-color: rgba(0, 245, 212, 0.8);
        border: solid #00F5D4;
        text-shadow: -1px -1px 0 #00F5D4, 1px -1px 0 #00F5D4, -1px 1px 0 #00F5D4, 1px 1px 0 #00F5D4;
    }

.caro-link {
    text-decoration: none;
}



/*accordion*/
.accordion-button:not(.collapsed) {
    background-color: #00BBF9;
    color: white;

}
    .accordion-button:not(.collapsed)::after {
        filter: brightness(0%)invert(80%);
    }


.accordion-button:is(.collapsed)::after {
    filter: brightness(0%)invert(90%);
}

.accordion-item{
    max-height: 500px;
    overflow-y: scroll;
}
    .accordion-item::-webkit-scrollbar {
        display: none;
    }


.ex-img {
    max-height: 380px;
    overflow-y: scroll;
}

   


/*Resources page*/
#resources .aboutP a {
    text-decoration: none;
    transition: all .2s ease-in-out;
    color: #F15BB5;
}
    #resources .aboutP a:hover {
        text-decoration: none;
        color: white;
    }

.card-img-top{
    max-height: 240px;
}

.nav-tabs .nav-item .nav-link.active {
    background-color: #F8F1FF;
    border-bottom: solid 1px #F8F1FF;
}

/*tutorials pages*/
.tutes{
    max-height: 260px;
}

/*hover animation*/
.l1-hover-block {
    background-image: url("images/l1video.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 260px;
}

.l2-hover-block {
    background-image: url("images/l2video.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 260px;
}

.hover-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start
}

.hover-item {
    overflow: hidden;
    position: relative;
}

    .hover-item:hover .hover-visible-item {
        opacity: 0;
        transform: scale(0);
        transition-delay: 0s;
    }

.hover-visible-item {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 90px 70px;
    box-sizing: border-box;
    transition: .4s .3s;
}

.hover-title {
    font-size: 28px;
    padding: 15px 25px;
    background-color: rgba(0, 245, 212, 0.7);
    color: black;
}

.hover-hidden-item {
    display: flex;
    align-items: center;
    padding: 30px;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: rotate(180deg) scale(0);
    transition: .3s;
}

.hover-item:hover .hover-hidden-item {
    opacity: 1;
    transform: rotate(0deg) scale(1);
    transition-delay: .3s;
}

.hover-btn {
    display: block;
    padding: 10px 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 25px;
    border-radius: 3px;
    text-decoration: none;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 245, 212, 0.7);
    color: black;
}

    .hover-btn:hover {
        background-color: #F15BB5;
        text-decoration: none;
        color: white;
    }
/*
@media only screen and (max-width: 767px) {
    .ag-format-container {
        width: 96%;
    }

    .ag-offer_item {
        width: 100%;
        margin: 0 0 30px;
        border: 0 none !important;
        border-bottom: 1px solid #c1c1c1 !important;
    }

    .ag-offer_visible-item {
        padding: 0 20px 30px;
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        -moz-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }

    .ag-offer_item:hover .ag-offer_visible-item {
        opacity: 1;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        transform: none;
    }

    .ag-offer_hidden-item {
        padding: 0 20px 20px;
        opacity: 1;
        position: static;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        transform: none;
    }

    .ag-offer_item:nth-child(1) .ag-offer_hidden-item,
    .ag-offer_item:nth-child(2) .ag-offer_hidden-item,
    .ag-offer_item:nth-child(3) .ag-offer_hidden-item,
    .ag-offer_item:nth-child(4) .ag-offer_hidden-item,
    .ag-offer_item:nth-child(5) .ag-offer_hidden-item,
    .ag-offer_item:nth-child(6) .ag-offer_hidden-item {
        background-color: transparent;
    }

    .ag-offer_item:hover .ag-offer_text {
        opacity: 1;
    }

    .ag-offer_title {
        font-weight: bold;
    }

    .ag-offer_text {
        opacity: 1;
        font-size: 18px;
        color: #000;
    }

    .ag-offer_btn {
        border: 2px solid #0000d1;
        background-color: #000080;
        position: static;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        transform: none;
    }
}


@media (min-width: 768px) and (max-width: 979px) {
    .ag-format-container {
        width: 750px;
    }
}

@media (min-width: 980px) and (max-width: 1161px) {
    .ag-format-container {
        width: 960px;
    }
}
*/

.breadcrumb-item a{
    color: white;
}
    .breadcrumb-item a:hover {
        color: #F15BB5;
    }

#side-nav .nav-link{
    color: black;
}
    #side-nav .nav-link:hover {
        color: darkgray;
    }

.t-menu-btn{
    font-size: 28px;
    cursor: pointer;
    font-style: normal;
}

    .t-menu-btn i:hover {
        color: #F15BB5;
    }


.carousel-control-prev-icon {
    display: block;
    font-size: 15px;
}



/*colour schemes*/
.c1 {
    background-color: #335C81;
    color: white;
}

.c2, .card-body a:hover  {
    background-color: #F15BB5;
    color: white;
}

.c3 {
    background-color: #F8F1FF;
    color: black;
}

.c4 {
    background-color: #00BBF9;
    color: white;
}

.c5 {
    background-color: #00F5D4;
    color: black;
}

.cg1 {
    background-image: linear-gradient(to bottom, #335C81 65%, #002729);
}

.cg1reverse {
    background-image: linear-gradient(to bottom, #002729, #335C81);
    border-bottom: solid 1px #335C81;
    border-left: none;
    border-right: none;
    border-top: solid 1px #002729;
}

.cg4-long {
    background-image: repeating-linear-gradient(#002729, #00BBF9 10%, #002729 30%)
}
.cg4 {
    background-image: linear-gradient(to bottom, #002729 5%, #00BBF9);
}